<a href="https://colab.research.google.com/github/ploybongkot/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็นภาษา markdown

ข้อดีหนึ่งของ python คือมี package สำหรับงานต่างๆมากมาย 

ซึ่ง pandas เป็น package  สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataflame

In [ ]:
import pandas #จดคอมเม้น วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [ ]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะใช้กันในวิชานี้

In [ ]:
data_df = pd.read_csv ('data.csv')

In [ ]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [ ]:
data_df2 = pandas.read_csv ('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

#  Basic python
## Variables

ข้อกำหนดในการตั้งชื่อตัวแปล

1. ชื่อห้ามมีเว้นวรรค
2. พยายามใช้ภาษาอังกฤษ 
3. ตัวเล็กตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12 #ไม่มีโค้ดก็จะเป็นตัวเลขเลย
variable_b = 'abcde' # ' เรียกว่า quote ข้อมูลที่เป็นตัวหนังสือ สตริง
variable_c = variable_a # ตัวหนังสือที่ไม่มีโค้ดจะเป็นตัวแปล

In [ ]:
variable_a

12

In [ ]:
variable_b

'abcde'

In [ ]:
variable_c

12

In [ ]:
variable a = 6 #ชื่อห้ามมีเว้นวรรค

SyntaxError: ignored

In [ ]:
#colab ใช้ภาษาไทยเป็นชื่อตัวแปลได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [ ]:
#ตัวเล็กตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [ ]:
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [ ]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า ห้ามใช้ตัวเลขเป็นชื่อตัวแปร
2ab = 1

SyntaxError: ignored

In [ ]:
variable1 = 1

In [ ]:
print(variable1)

1

In [ ]:
variable_a =12
variable_b = 'abcde'
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # double quote

In [ ]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [ ]:
variable_a + variable_b #'int' and 'str' ตัวเลขตัวหนังสือ +  กันไม่ได้

TypeError: ignored

In [ ]:
print(variable_b + variable_4) # เอา string มาต่อกัน

abcdeKKU

## Casting int() float() str()

In [ ]:
print(variable_x)
print(int(variable_x)) #ตัดทศนิยมตัวหลังโดยใช้ int

-29.200000000000003
-29

In [ ]:
  V_X = str(variable_x)
  print(V_X)

-29.200000000000003

In [ ]:
V_X + variable_a # str + ได้แต่กับ str  str+int ไม่ได้

TypeError: ignored

In [ ]:
variable_a + V_X #

TypeError: ignored

In [ ]:
V_X

'-29.200000000000003'

In [ ]:
float(V_x)

NameError: ignored

## Data Structure
สามารถจับค่ามาต่อๆกันได้

list()

In [ ]:
list_a = [1,2,0.2,'abs'] # [] squack brackets
list_b = [2,'xyz',list_a,[1,2,0.2]]

In [ ]:
list_a

[1, 2, 0.2, 'abs']

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]

In [ ]:
len(list_b) #เลนมีสมาชิกกี่ตัว

4

In [ ]:
list_b[3]

[1, 2, 0.2]

In [ ]:
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4]

' '

### วิธีสร้าง list ว่าง

In [ ]:
list_c = list() #แบบที่ 1
list_d = [] #แบบที่ 2

In [ ]:
list_c

[]

In [ ]:
list_d

[]

เติมค่าลงไปใน list (.appen)

การชี้ค่าใน list (indexing)

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังโดยใช้ negative index

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]

In [ ]:
list_b[-1]

[1, 2, 0.2]

### list slicing

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0] #เริ่มนับจาก 0

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนหลัง]

ถ้าเป็นสัญลักษญ์คณิตศาสตร์[ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง]

In [ ]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [ ]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [ ]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [ ]:
list_ex[::-1] # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [ ]:
a

'Stat KKU'

In [ ]:
a[5:]

'KKU'

In [ ]:
a[-3:]

'KKU'

In [ ]:
a[5:8]

'KKU'

In [ ]:
a[5::]

'KKU'

In [ ]:
a[-3::]

'KKU'

In [ ]:
a[-3::]

'KKU'

##list+list

In [ ]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]

In [ ]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]

format string

f 'string{ตัวแปร}' {} เรียกว่า curly brackets

In [ ]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop ทำซ้ำๆ ขั้นตอนเหมือนๆกัน หลายๆรอบ


for ตามด้วยตัวแปลที่จะรับค่าจาก list ด้วย in list ที่จะนำมาวนลูป:

      do something #in_loop

      do another thing #in loop

do another thing#out side loop

In [ ]:
for i in [1,2,3,4,5]: #เราบอกว่าเราจะวนลูปดึงค่าใน list นี้
     print(i)

1
2
3
4
5

In [ ]:
for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [ ]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [ ]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [ ]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

#Nested loop

In [ ]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
          print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

## Condition เงื่อนไข (if ststement)

python

if เงื่อนไขที่จะตรวจสอบ (==,!=,<,>,<=,>=) :

      ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1

      ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2

elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง :

     ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1

     ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2


elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง :

     ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1

     ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2
else #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง

      ทำงานที่ x

In [ ]:
stringx = 'vfdjijhtiklblvo-nitrhu8jvk vllopkfgthhf'

if len(stringx) > 100:
   print(f'{stringx}  is longer than 30 charecters')
else:
   print(f'{stringx} in {len(stringx)} charecters long')

vfdjijhtiklblvo-nitrhu8jvk vllopkfgthhf in 39 charecters long

In [ ]:
password = '12345'

input_pass = '123sf'
if input_pass == password :
    print('Welcome!') 
elif len(input_pass) > len(password) :
    print('Too long, try again')
elif len(input_pass) < len(password) :
    print('too short, try again!')
else:
    print('Too short , try again')

Too short , try again

Quiz 1 หา min

In [ ]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ โดยไม่ใช้ function min (commiy ก่อน 10:30 :Quiz1)

In [ ]:
min = 100000000
print(list_ex)
for i in list_ex:
     print(f'now i = {i}), min = {min}')
     if i < min:
        print(f'i < min, uplate min -> {i}')
     else:
         print('not update')
     print('end condition, go to next i')
         

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1), min = 100000000
i < min, uplate min -> 1
end condition, go to next i
now i = 5), min = 100000000
i < min, uplate min -> 5
end condition, go to next i
now i = 9), min = 100000000
i < min, uplate min -> 9
end condition, go to next i
now i = -19), min = 100000000
i < min, uplate min -> -19
end condition, go to next i
now i = -2), min = 100000000
i < min, uplate min -> -2
end condition, go to next i
now i = 0), min = 100000000
i < min, uplate min -> 0
end condition, go to next i
100000000

In [ ]:
list_ex[3: 4 : 2]

[-19]



##HW3 ตัดเกรด

In [144]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] #ตัดเกรดคะแนนใน list score (ใช้ if กับ for )

In [145]:
for i in score:

  if i >= 80:
    print(f'{i} = A')
  elif i >= 75 and i < 80:
    print(f'{i} = B+')
  elif i >= 70 and i < 75:
    print(f'{i} = B')
  elif i >= 65 and i < 70:
    print(f'{i} = C+')
  elif i >= 60 and i < 65:
    print(f'{i} = C')
  elif i >= 55 and i < 60:
    print(f'{i} = D+')
  elif i >= 50 and i < 55:
    print(f'{i} = D')
  else:
    print(f'{i} = F')

49 = F
65 = C+
70 = B
95 = A
82 = A
55 = D+
89 = A
20 = F
77 = B+
77 = B+
81 = A
59 = D+
10 = F

##Function