<a href="https://colab.research.google.com/github/ploybongkot/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็นภาษา markdown

ข้อดีหนึ่งของ python คือมี package สำหรับงานต่างๆมากมาย 

ซึ่ง pandas เป็น package  สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataflame

In [2]:
import pandas #จดคอมเม้น วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [6]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะใช้กันในวิชานี้

In [7]:
data_df = pd.read_csv ('data.csv')

In [8]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [10]:
data_df2 = pandas.read_csv ('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

#  Basic python
## Variables

ข้อกำหนดในการตั้งชื่อตัวแปล

1. ชื่อห้ามมีเว้นวรรค
2. พยายามใช้ภาษาอังกฤษ 
3. ตัวเล็กตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [12]:
variable_a = 12 #ไม่มีโค้ดก็จะเป็นตัวเลขเลย
variable_b = 'abcde' # ' เรียกว่า quote ข้อมูลที่เป็นตัวหนังสือ สตริง
variable_c = variable_a # ตัวหนังสือที่ไม่มีโค้ดจะเป็นตัวแปล

In [13]:
variable_a

12

In [14]:
variable_b

'abcde'

In [15]:
variable_c

12

In [19]:
variable a = 6 #ชื่อห้ามมีเว้นวรรค

SyntaxError: ignored

In [18]:
#colab ใช้ภาษาไทยเป็นชื่อตัวแปลได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [21]:
#ตัวเล็กตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [22]:
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [23]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า ห้ามใช้ตัวเลขเป็นชื่อตัวแปร
2ab = 1

SyntaxError: ignored

In [29]:
variable1 = 1

In [30]:
print(variable1)

1

In [35]:
variable_a =12
variable_b = 'abcde'
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # double quote

In [36]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [37]:
variable_a + variable_b #'int' and 'str' ตัวเลขตัวหนังสือ +  กันไม่ได้

TypeError: ignored

In [38]:
print(variable_b + variable_4) # เอา string มาต่อกัน

abcdeKKU

## Casting int() float() str()

In [39]:
print(variable_x)
print(int(variable_x)) #ตัดทศนิยมตัวหลังโดยใช้ int

-29.200000000000003
-29

In [44]:
V_x + variable_a

TypeError: ignored

In [45]:
variable_a + V_x

TypeError: ignored

In [47]:
V_x

'-29.200000000000003'

In [49]:
float(V_x)

-29.200000000000003

## Data Structure
สามารถจับค่ามาต่อๆกันได้

list()

In [52]:
list_a = [1,2,0.2,'abs'] # [] squack brackets
list_b = [2,'xyz',list_a,[1,2,0.2]]

In [53]:
list_a

[1, 2, 0.2, 'abs']

In [54]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]

In [55]:
len(list_b) #เลนมีสมาชิกกี่ตัว

4

In [56]:
list_b[3]

[1, 2, 0.2]

In [57]:
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [58]:
a = 'Stat KKU'

In [59]:
a[4]

' '

### วิธีสร้าง list ว่าง

In [60]:
list_c = list() #แบบที่ 1
list_d = [] #แบบที่ 2

In [61]:
list_c

[]

In [62]:
list_d

[]

เติมค่าลงไปใน list (.appen)

การชี้ค่าใน list (indexing)

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังโดยใช้ negative index

In [63]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]

In [64]:
list_b[-1]

[1, 2, 0.2]

### list slicing

In [65]:
list_ex = [1,2,3,5,6,8,-1,20,50,0] #เริ่มนับจาก 0

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนหลัง]

ถ้าเป็นสัญลักษญ์คณิตศาสตร์[ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง]

In [66]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [67]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [68]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [70]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [69]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [71]:
list_ex[::-1] # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [72]:
a

'Stat KKU'

In [73]:
a[5:]

'KKU'

In [76]:
a[-3:]

'KKU'

In [74]:
a[5:8]

'KKU'

In [77]:
a[5::]

'KKU'

In [78]:
a[-3::]

'KKU'

In [ ]:
a[-3::]

##list+list

In [79]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]

In [80]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]

format string

f 'string{ตัวแปร}' {} เรียกว่า curly brackets

In [84]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

# Loop ทำซ้ำๆ ขั้นตอนเหมือนๆกัน


for ตามด้วยตัวแปลที่จะรับค่าจาก list ด้วย in list ที่จะนำมาวนลูป:
      do something

In [81]:
for i in [1,2,3,4,5]: #เราบอกว่าเราจะวนลูปดึงค่าใน list นี้
     print(i)

1
2
3
4
5

In [82]:
for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [88]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [91]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [92]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [93]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

#Nested loop

In [97]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
          print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

#Condition

function